doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="http://vjs.zencdn.net/6.2.0/video-js.css", rel="stylesheet")
  body
    block content
    script(src='http://vjs.zencdn.net/6.2.0/video.js')